<div class="container" style="border-style: solid">
    <br>
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center col-md-7">
            <h3>Pay Policy Premium (Premium MicroFrontend)</h3>
        </div>
        <div class="col ">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col ">
        </div>
        <div class="col-md-5">
            <div class="card mb-4">
                <div class="card-header bg-info"><b> Policy Premium Payment </b></div>
                <div class="card-body">
                    <div class="row mt-8">
                        <div class="col-md-12"><label class="labels">Policy Number (PL1 to PL100)</label><input class="form-control" placeholder="Enter policy number" [(ngModel)]="policyNumber" (change)="setPolicyPremium()"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Premium Amount</label><input type="text" class="form-control" placeholder="Enter premium amount"  [(ngModel)]="policyPremium"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-success profile-button" type="button" (click)="payment()">Payment</button></div>    
                </div>
                
            </div>
        </div>
        <div class="col ">
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-info"><b> WebWorker Factorial Integration </b></div>
                <div class="card-body">
                    <div class="row mt-8">
                        <div class=" text-center">Generating factorials from 1 to 70 thousand. This task is CPU intensive, so using a web worker to compute it efficiently in the background.</div>
                        <div class=" text-center"><b>Please wait until the factorials generated!</b></div>
                    </div>
                    <div class="row mt-8">
                        <div class="text-center"><button class="btn btn-primary profile-button" type="button" (click)="generatePremiumWorkerResponse()">Calculate Factorials</button></div>
                    </div>
                    <br>
                    <div *ngIf="workerResult">
                     <b>Worker Response:</b>
                    <div style="overflow:scroll; height:100px;"> {{workerResult}}</div>
                    </div>    
                </div>
                
                <br/>
            </div>
        </div>
        <div class="col ">
        </div>
    </div>
</div>